.item {
  background-color: var(--secondary);
  border: none;
  margin-bottom: 0.75rem;
}

.question {
  position: relative;
  padding: 0.75rem 1rem;
  padding-right: 2rem;
  list-style: none;
  cursor: pointer;
  color: var(--accent);
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.4rem;
}

.anwWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.answer {
  color: var(--background);
  overflow: hidden;
  padding-bottom: 1rem;
  padding-inline: 1.5rem;
}

.img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 0.3s ease;
}

.img.expanded {
  transform: translateY(-50%) rotate(90deg);
}
