.section {
  margin-top: 6rem;
  padding-left: 10%;
}

.title {
  text-align: center;
  text-shadow: none;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.teamImg {
  width: clamp(17rem, 30vw, 22rem);
  height: auto;
  flex-shrink: 0;
  margin-right: -3rem;
  z-index: 2;
}

.contentWrapper {
  position: relative;
}

.mountains {
  width: 100%;
  height: auto;
  display: block;
  transform: translateY(2.3%);
}

.content {
  background-color: var(--secondary);
  text-align: center;
  padding-block: 1rem;
  padding-right: 1rem;
  padding-left: 3rem;
}

.content h3 {
  margin-bottom: 0.5rem;
}

.btn {
  margin-inline: auto;
  margin-top: 1rem;
}

@media (max-width: 820px) {
  .section {
    margin-top: 8rem;
    padding-inline: 0;
  }

  .teamImg {
    display: none;
    margin-right: 0;
  }

  .content {
    padding-left: 1rem;
  }
}
