.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headerImg {
  width: 100%;
  min-width: 80rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.section .swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 7%;
  left: 8%;
  width: 80%;
}

.arrow {
  cursor: pointer;
  width: 2.5rem;
  height: auto;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: translateX(-0.3rem);
}

.arrowRight {
  scale: -1 1;
}

.media {
  position: absolute;
  top: 10%;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.media img {
  width: 2.8rem;
  height: auto;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.media img:hover {
  scale: 1.1;
}

.media::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--accent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 0.5rem));
}

.media::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 10rem;
  background-image: linear-gradient(to bottom, var(--accent), transparent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 1.8rem));
}

.curve {
  width: 100%;
  height: auto;
  aspect-ratio: 25/1;
  display: block;
  margin-top: -1px;
  fill: #143447;
}

@media (max-width: 860px) {
  .section .swiper {
    width: 95%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .section .arrow {
    width: 1.8rem;
  }

  .media {
    flex-direction: row;
    top: 100%;
    transform: translateY(calc(-100% - 2rem));
  }

  .media::after {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate(calc(-100% - 0.5rem), 50%);
  }

  .media::before {
    position: absolute;
    height: 0.8rem;
    width: 10rem;
    bottom: 50%;
    left: 0;
    transform: translate(calc(-100% - 1.8rem), 50%);
    background-image: linear-gradient(to left, var(--accent), transparent);
  }
}
