.section {
  padding-inline: 5%;
  margin-top: 4rem;
}

.section .title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary);
  text-shadow: none;
}

.section .points {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2.5rem;
}

.points .point {
  flex-grow: 1;
  flex-basis: 20rem;
  max-width: 30rem;
}

.img {
  position: relative;
  width: 60%;
  margin: auto;
  z-index: 2;
}

.content {
  position: relative;
  background-color: var(--secondary);
  text-align: center;
  padding-inline: 0.75rem;
  padding-bottom: 1rem;
  padding-top: 2.5rem;
  margin-top: -2rem;
}

.content h3 {
  margin-bottom: 0.5rem;
}

.curve {
  fill: var(--secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  transform: translateY(calc(100% - 1px));
}
