.cookieBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--secondary);
  font-size: var(--text-font);
  color: var(--background);
  font-size: 1rem;
  opacity: 0.95;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
