* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --secondary: #1d4b66;
  --accent: #a8c453;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--secondary);
  background: var(--background);
  font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
  margin: auto;
  box-shadow: 40px 0 50px -65px rgba(0, 0, 0, 0.4),
    -40px 0 50px -65px rgba(0, 0, 0, 0.4);
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.8rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  color: var(--accent);
  text-align: center;
  background-color: var(--secondary);
  padding: 1rem 2rem;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.8rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  color: var(--accent);
}

h3 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--accent);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

p {
  font-size: var(--text-font);
  color: var(--background);
  font-size: 1rem;
}

.swiper-slide-thumb-active img {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);
}

@media (max-width: 950px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}
