.button {
  position: relative;
  display: flex;
  align-items: stretch;
  width: fit-content;
  gap: 0.25rem;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1rem;
  color: var(--secondary);
  border: none;
  transition: gap 0.2s ease;
  background-color: transparent;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
}

.button .content {
  background-color: var(--accent);
  padding: 0.4rem 0.75rem;
}

.button .line1 {
  width: 0.25rem;
  background-color: var(--accent);
}

.button .line2 {
  width: 0.6rem;
  background-color: var(--accent);
}

.content,
.line1,
.line2 {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.button:hover {
  gap: 0.4rem;
}
