.map {
  width: 90vw;
  max-width: 25rem;
  border-radius: 0 12rem 0 12rem;
  overflow: hidden;
  border: solid 0.5rem var(--secondary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  aspect-ratio: 1/1;
  flex-shrink: 0;
  z-index: 2;
}

@media (max-width: 720px) {
  .map {
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
}
