.img {
  border-radius: 9999rem;
  overflow: hidden;
  border: solid 0.5rem var(--secondary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
