.section {
  padding-inline: 1rem;
  margin-top: 2rem;
}

.img {
  position: relative;
  width: clamp(15rem, 40vw, 20rem);
  height: auto;
  margin-inline: auto;
  z-index: 2;
}

.content {
  width: 100%;
  max-width: 70rem;
  position: relative;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: var(--secondary);
  text-align: center;
  margin-inline: auto;
}

.content :where(h2, h3) {
  margin-bottom: 0.5rem;
}

.content h3 {
  margin-top: 1rem;
}

.content p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  width: fit-content;
  margin-bottom: 1rem;
  margin-inline: auto;
  color: white;
  font-size: 1rem;
  text-align: left;
}

.curve {
  display: block;
  fill: var(--secondary);
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 3.3rem;
  transform: scaleY(-1) translateY(-1px);
}
